::ng-deep mat-dialog-container {
    background-color: #333 !important;

    * {
        color: #fefefe;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #333 !important;
    padding: 2%;
}

.font-big {
    font-size: 24px;
}